@import './base.css';

:root {
  --main-yellow: #ffb928;
  --header-height: 90px;
  --footer-height: 60px;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
}

h1,
h2,
p,
a {
  font-family: Arial, sans-serif;
}

h1 {
  font-size: 32px;
  font-weight: bold;
}

h2 {
  font-size: 26px;
  font-weight: bold;
}

p {
  font-size: 16px;
}
